.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    'header'
    'article'
    'navigation';
  background-color: #e5e5e5;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  background-color: #fca311;
  border: none;
  color: #14213d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.app-header {
  grid-area: 'header';
  background-color: #282c34;
  color: white;
  border: 5px solid grey;
  text-decoration: none;
}

.app-header p {
  color: inherit;
  position: relative;
  right: 34%;
  bottom: 100%;
}

.nav-bar {
  grid-area: 'navigation';
  border: 5px solid lightblue;
  background-color: #282c34;
  color: white;

  position: fixed;
  bottom: 0;
  width: 100vw;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-list {
  grid-area: 'article';
  border: 5px solid green;
  margin-bottom: 60px;
}

.article-list h2 {
  text-transform: capitalize;
}

.article-preview {
  border: 5px solid yellow;
}

.article-page {
  grid-area: 'article';
  border: 5px solid green;
  margin-bottom: 60px;
  background-color: #e5e5e5;
}

.article-page p {
  text-align: left;
  text-indent: 20px;
  white-space: pre-line;
}

.article-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-buttons button {
  width: 70px;
}

.comment-list {
  grid-area: 'article';
  border: 5px solid salmon;
  margin-bottom: 60px;
  background-color: #e5e5e5;
}

.comment-form {
  border: 5px solid red;
  width: 100%;
}

.comment-form form {
  display: inline-block;
}

.comment-form button {
  width: 150px;
}

.comment-card {
  border: 5px solid yellow;
}

.comment-card p {
  text-align: left;
  text-indent: 20px;
  white-space: pre-line;
}

.sort-form {
  border: 5px solid orange;
  font-size: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.sort-form ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
