.App {
  text-align: center;
  height: 100vh;
  border: 5px solid pink;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "header"
  "article"
  "navigation";
}

ul{
  padding: 0;
  list-style-type: none;
}

.app-header {
  grid-area: "header";
  background-color: #282c34;
  color: white;
  border: 5px solid grey;
}

.nav-bar {
  grid-area: "navigation";
  border: 5px solid lightblue;
  background-color: #282c34;
  color: white;

  position: fixed;
  bottom: 0;
  width: 100vw;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-list {
  grid-area: "article";
  border: 5px solid green;
  margin-bottom: 60px;
}

.article-preview {
  border: 5px solid yellow;
}
