.App {
  text-align: center;
  height: 100vh;
  border: 2px solid pink;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "header"
  "article"
  "navigation";
}

ul{
  padding: 0;
  list-style-type: none;
}

.app-header {
  grid-area: "header";
  background-color: #282c34;
  color: white;
  border: 2px solid grey;
}

.nav-bar {
  grid-area: "navigation";
  border: 2px solid lightblue;
  background-color: #282c34;
  color: white;
}

.article-list {
  grid-area: "article";
  border: 2px solid green;
}

